* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img, iframe, video {
  max-width: 100%; }

img {
  height: auto;
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: 0;
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

textarea, input {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "avenir-book";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/avenir-book.eot');
  src: url('../fonts/avenir-book.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir-book.woff') format('woff'), url('../fonts/avenir-book.ttf') format('truetype'), url('../fonts/avenir-book.svg#avenir-book') format('svg'); }

@font-face {
  font-family: "avenir-black";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/avenir-black.eot');
  src: url('../fonts/avenir-black.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir-black.woff') format('woff'), url('../fonts/avenir-black.ttf') format('truetype'), url('../fonts/avenir-black.svg#avenir-black') format('svg'); }

html, body {
  font-family: "avenir-book", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #3e494b;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #5b6862; }

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #222424;
  text-transform: uppercase; }
  h1.entry-title {
    text-align: center; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

p.small {
  font-size: 0.8125rem; }

a {
  color: #6b7771;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover {
    color: #373f3c; }
  a:focus {
    outline: none; }

.content-wrapper a {
  text-decoration: underline; }

mark {
  background: #e3fa21; }

.ir {
  display: block;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
  *line-height: 0; }
  .ir br {
    display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto; }

.invisible {
  visibility: hidden; }

.group {
  *zoom: 1; }
  .group:before, .group:after {
    display: table;
    content: ""; }
  .group:after {
    clear: both; }

img[src*="googleadservices.com"] {
  position: absolute;
  top: 0;
  left: -9000em; }

body, html, .push-container {
  height: 100%; }

body {
  -webkit-overflow-scrolling: touch;
  background: #fff; }

.wrapper {
  display: block; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .wrapper {
      max-width: 1200px;
      margin: 0 auto; } }

.content-wrapper {
  display: block; }
  .content-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .content-wrapper {
      max-width: 760px;
      margin: 0 auto; } }

::-moz-selection {
  background: #ebf1f1; }

::selection {
  background: #ebf1f1; }

.site-header {
  padding: 20px 0;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .site-header:after {
    content: "";
    display: table;
    clear: both; }

.site-title {
  background: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=Logo&w=350&h=150') no-repeat;
  background-size: 200px;
  display: block;
  height: 80px;
  width: 210px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .site-title:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  @media screen and (min-width: 800px) {
    .site-title {
      float: left;
      background-size: 300px;
      height: 120px;
      width: auto; } }

.menu-toggle {
  text-transform: uppercase;
  color: #222424;
  text-decoration: none;
  font-weight: 700;
  float: right;
  padding: 20px 2% 0 0; }
  .menu-toggle:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    right: 5px;
    background: url(../img/arrow.svg) no-repeat center;
    background-size: 16px; }

.content-wrapper {
  padding: 0 5%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media screen and (min-width: 1200px) {
    .content-wrapper {
      padding: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; } }

.site-footer {
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .site-footer:after {
    content: "";
    display: table;
    clear: both; }

.site-info {
  text-align: center; }

input[type="search"]::-ms-clear {
  display: none; }

nav.primary {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 300px;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

nav.primary .menu {
  padding: 0;
  margin: 0; }
  nav.primary .menu .menu-item {
    list-style: none; }
    nav.primary .menu .menu-item a {
      text-transform: uppercase;
      font-size: 1rem;
      padding: 20px;
      display: block; }
      nav.primary .menu .menu-item a:hover {
        background: #383939;
        color: #fcfbf6; }
    nav.primary .menu .menu-item:last-child {
      border-bottom: none; }

.sub-menu {
  display: none;
  padding: 0 0 0 10px;
  margin: 0; }

.menuOpen nav.primary {
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1; }

.menu-push {
  position: relative;
  right: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  background: #fff; }

.menuOpen .menu-push {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0); }

.menu-toggle:hover {
  background: none; }

nav.social {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  nav.social:last-child {
    margin-right: 0; }
  @media screen and (min-width: 800px) {
    nav.social {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      nav.social:last-child {
        margin-right: 0; } }
  nav.social ul {
    margin: 0; }
    @media screen and (min-width: 1200px) {
      nav.social ul {
        float: right; } }
  nav.social li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0 10px; }
    nav.social li a {
      background-size: 40px;
      overflow: hidden;
      width: 40px;
      height: 40px;
      display: block; }
      nav.social li a:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
    nav.social li.twitter a {
      background: url('../img/twitter.svg') no-repeat center; }
    nav.social li.dribbble a {
      background: url('../img/dribbble.svg') no-repeat center; }
    nav.social li.github a {
      background: url('../img/github.svg') no-repeat center; }
    nav.social li.instagram a {
      background: url('../img/instagram.svg') no-repeat center; }
    nav.social li.pinterest a {
      background: url('../img/pinterest.svg') no-repeat center; }

.pagination .menu {
  padding: 20px 0;
  list-style: none;
  text-align: center; }
.pagination .menu li {
  display: inline-block; }

table {
  border-collapse: collapse; }
  table th, table td {
    padding: 8px;
    border: 1px solid #cdd1cf; }
  table tbody tr:nth-child(odd) {
    background-color: #eeefef; }

